frr defaults traditional
frr version 8.5.2
hostname {{ hostname }}
log syslog informational
service integrated-vtysh-config
!
interface lo
 ip address {{ loopback }}/32
!
{% for iface in interfaces %}
interface {{ iface.name }}
{% if iface.ip is defined %}
 ip address {{ iface.ip }}
{% endif %}
{% if iface.area is defined and (iface.ospf is not defined or iface.ospf) %}
 ip ospf area {{ iface.area }}
 ip ospf network {{ iface.ospf_type }}
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 {{ iface.key }}
 ip ospf bfd
{% endif %}
!
{% endfor %}

router ospf
 ospf router-id {{ loopback }}
 redistribute connected
{% if ospf_default_originate is defined and ospf_default_originate %}
 default-information originate
{% endif %}
!

bfd
{% for iface in interfaces %}
{% if iface.peer_ip is defined and (iface.bfd is not defined or iface.bfd) %}
 peer {{ iface.peer_ip }} interface {{ iface.name }}
{% endif %}
{% endfor %}
!
line vty
!
